@font-face {
    font-family: Mine;
    src: url(../fonts/Minecraft.ttf);
}

body {
    font-family: sans-serif;
    background-color: #925133;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.offline {
    margin: auto;
    font-family: "Mine";
    color: rgb(119, 175, 51);;
}

